/* Error: Undefined mixin.
 *    ,
 * 14 | /     @include abstracts.screen (lg) {
 * 15 | |         --header-bg: #fff;
 * 16 | |         --header-shadow-color: rgba(237, 237, 246, 0.20);
 * 17 | \     }
 *    '
 *   scss\theme\_light.scss 14:5  @forward
 *   scss\theme\_index.scss 1:1   @use
 *   scss\main.scss 2:1           root stylesheet */

body::before {
    font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
    white-space: pre;
    display: block;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid black;
    content: "Error: Undefined mixin.\a    \2577 \a 14 \2502  \250c      @include abstracts.screen (lg) {\a 15 \2502  \2502          --header-bg: #fff;\a 16 \2502  \2502          --header-shadow-color: rgba(237, 237, 246, 0.20);\a 17 \2502  \2514      }\a    \2575 \a   scss\\theme\\_light.scss 14:5  @forward\a   scss\\theme\\_index.scss 1:1   @use\a   scss\\main.scss 2:1           root stylesheet";
}
